<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org ">
<head>
    <title>Friends</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="friends">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="photos">Photos</a>
        </li>
    </ul>

</header>

<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<style>
    #friendsRequests {
        position: absolute;
        top: 20%;
        left: 70%;
        overflow: auto;
    }

    #userFriends {
        position: absolute;
        top: 20%;
        left: 20%;
        overflow: auto;
    }
</style>

<div id="userFriends">
    <h1>Friends:</h1>
    <div th:each="el : ${userFriends}" class="alert alert-info mt-2">
        <div class="container">
            <h3 th:text="${el.getFriendId().getUsername() + ' ' + el.getFriendId().getSurname()}"/>
            <form id="formFriends" method="post" name="deleteFriend" action="deleteFriend">
                <input type="number" name="friendId" th:value="${el.getFriendId().getId()}" style="display: none">
                <button class="w-10 btn btn-lg btn-danger ml-2" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

<div id="friendsRequests">
    <h1>Requests:</h1>
    <div th:each="el : ${friendRequests}" class="alert alert-info mt-2">
        <div class="container">
            <h3 th:text="${el.getRequester().getUsername() + ' ' + el.getRequester().getSurname()}"/>
            <form id="form" method="post" name="addAsFriend" action="addAsFriend">
                <input type="number" name="friendId" th:value="${el.getRequester().getId()}" style="display: none">
                <button class="w-10 btn btn-lg btn-primary ml-2" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>