<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="friends">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="photos">Photos</a>
        </li>
    </ul>


</header>

<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<div class="row">
    <div class="col-lg-6 mt-3" id="user_info">
        <div class="container">
            <img class="img-thumbnail"
                 th:src="${userDTO.getAvatarURL()}"
                 alt="ProfileImg" width="300" height="400">
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Add avatar
                </button>
                <div class="dropdown-menu">
                    <form action="/profile/pic" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="file" name="image"/>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>

            <br>
            <h1 th:text="${userDTO.getUsername()}"></h1>
            <h1 th:text="${userDTO.getEmail()}"></h1>
            <h1 th:text="${userDTO.getAge()}"></h1>
            <br>
            <a href="/change_my_information" class="btn btn-info">Change my information</a>
            <br>
            <a href="/logout" class="btn btn-secondary">LogOut</a>
            <br>
            <a href="/delete" class="btn btn-danger">Delete my profile</a>
        </div>
    </div>
    <style>

        #search_user {
            top: 20%;
            left: 10%;
            overflow: auto;
        }

        #form {
            position: absolute;
            top: 60%;
            left: 0%;
        }

        #form_add_post {
            position: absolute;
            top: 90%;
            left: 10%;
        }

        #wall {
            position: absolute;
            top: 115%;
            left: 5%;
        }

    </style>
    <div class="container col-lg-4 mt-3 mb-5" id="search_user">
        <div id="form">
            <form method="post" action="/search_user" th:object="${find_users}">
                <h1 class="h3 mb-3 fw-normal">Search user</h1>

                <div class="form-floating">
                    <input type="text" name="username" class="form-control" placeholder="Name">
                </div>
            </form>
            <div th:each="el : ${find_users}" class="alert alert-info mt-2">
                <div class="container">
                    <h3 th:text="${el.getUsername()}"/>
                    <form method="post" name="addFriend" action="addFriend">
                        <input type="number" name="friendId" th:value="${el.id}" style="display: none">
                        <button class="w-10 btn btn-lg btn-primary ml-2" type="submit">Add friend</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container" id="form_add_post">
            <form method="post" action="/add_post">
                <h1 class="h3 mb-3 fw-normal mt-3">Add new story</h1>
                <div class="form-floating">
                    <input type="text" name="postText" class="form-control" id="floatingInput" placeholder="Story text">
                    <button class="w-10 btn btn-lg btn-primary ml-2 mt-2" type="submit">Add story</button>
                </div>
            </form>
            <br>
        </div>

        <div class="container ml-3" id="wall">
            <H1>My stories</H1>
            <div th:each="el : ${posts}" class="alert alert-info mt-2">
                <div><img
                        src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/217/245/datas/original.png">
                    <h3 th:text="${el.text}"/>

                    <div class="like-form" style="display: block">
                        <form action="/likePost" method="post">
                            <input type="number" name="postId" th:value="${el.getId()}" style="display: none">

                            <div th:if="${el.meLiked == 1}">
                                <input type="image" src="../images/like.png" width="20" height="20" name="submit"
                                       value="Like" class="like-button">
                                <span th:text="${el.getLikes().size()}"></span>
                            </div>

                            <div th:unless="${el.meLiked == 1}">
                                <input type="image" src="../images/likeFill.png" width="20" height="20" name="submit"
                                       value="Like" class="like-button">
                                <span th:text="${el.getLikes().size()}"></span>
                            </div>
                        </form>
                        <br>
                        <h3 th:text="${el.getDate()}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>