
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container">
<div class="container">
<img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png" alt="ProfileImg" width="200" height="200">
</div>
<div>
<!--<h1 sec:authorize="isAuthenticated()" sec:authentication="name"></h1>-->
<h1 th:text="${userDTO.getUsername()}"></h1>
<h1 th:text="${userDTO.getEmail()}"></h1>
<h1 th:text="${userDTO.getAge()}"></h1>

<br>
</div>
<div class="post">
<div class="panel-heading">Post</div>
<div class="panel-body">Text</div>
<div class="panel-footer">Likes</div>
</div>

    <div>
        <img src="https://img2.freepng.ru/20180329/uue/kisspng-computer-icons-windows-photo-gallery-photo-5abd4963a0e061.600520291522354531659.jpg" width="150" height="150">
        <img src="https://img2.freepng.ru/20180329/uue/kisspng-computer-icons-windows-photo-gallery-photo-5abd4963a0e061.600520291522354531659.jpg" width="150" height="150">
        <img src="https://img2.freepng.ru/20180329/uue/kisspng-computer-icons-windows-photo-gallery-photo-5abd4963a0e061.600520291522354531659.jpg" width="150" height="150">
    </div>

<br>
<a href="/change_my_information">Change my information</a>
<a href="/logout">LogOut</a>

</div>
</body>
</html>